html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: lightgray;
  border-radius: 5px;
  font-family: "IBM Plex Mono";
}
.sidebar-nav {
  height: 1024px;
  width: 250px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  position: fixed;
  right: 0%;
  bottom: 0%;
  background-color: #ffffff;
  box-shadow: #313131;
}
.sidebar-nav .description-header {
  position: absolute;
  left: 35.09%;
  right: 7.37%;
  top: 4.49%;
  bottom: 90.43%;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  color: #313131;
}
.sidebar-nav .header .list-item .icon {
  width: 60px;
  height: 60px;
  height: 60px;
  width: 60px;
  margin-left: 25px;
  margin-top: 42px;
  border-radius: 0px;
}
.sidebar-main {
  margin-top: 70px;
  margin-left: 45px;
}
.sidebar-main .list-item {
  padding-top: 40px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  height: 40px;
  width: 225px;
}
.sidebar-nav .sidebar-main .list-item .icon {
  width: 25px;
  height: 25px;
}
.sidebar-nav .sidebar-main .list-item .description {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  margin-left: 26px;
  margin-top: 0px;
}
#ujian {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  width: 206px;
  height: 40px;
  position: relative;
  top: 0px;
  border-radius: 0px;
}
#Dashboard {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  width: 206px;
  height: 40px;
  position: relative;
  top: 0px;
  border-radius: 0px;
}
#Data-camaba {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  width: 206px;
  height: 40px;
  position: relative;
  top: 0px;
  border-radius: 0px;
}
#pm {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  width: 206px;
  height: 40px;
  position: relative;
  top: 0px;
  border-radius: 0px;
}

#Laporan {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  width: 206px;
  height: 40px;
  position: relative;
  top: 0px;
  border-radius: 0px;
}
/*
.sidebar-nav .sidebar-main .list-item:hover {
  background: linear-gradient(
    270deg,
    rgba(105, 255, 138, 0.6) -5.08%,
    rgba(255, 255, 255, 0.6) 103.05%
  );
  opacity: 0.4;
  border: 1px solid rgba(247, 247, 248, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px 0px 0px 20px;
  box-sizing: border-box;
}*/
a {
  text-decoration: none;
  color: #313131;
}

.line-top {
  position: absolute;
  margin-top: 57px;
  margin-left: 1015px;
}

.line-top .list-item {
  height: 30px;
  width: 220px;
  border-radius: 18px;
  position: absolute;
  left: 75%;
  right: 15.36%;
  top: 10%;
  bottom: 0%;
  background-color: #ffffff;
}
input:focus {
  outline: none;
}

.line-top .list-item .filter {
  margin-left: 45px;
  margin-top: 1px;
  width: 150px;
  height: 25px;
  border: transparent;
  background-color: #ffffff;
  box-sizing: inherit;
}

.line-top .list-item .icon {
  position: absolute;
  height: 18.849424362182617px;
  width: 18.849435806274414px;
  border-radius: 0px;
  margin-left: 15px;
  margin-top: 6px;
}

.line-top .list-item .icon2 {
  position: absolute;
  left: 230px;
  height: 30px;
  width: 30px;
  right: 0%;
  top: 0;
  bottom: 0%;
  background: #ffffff;
  border-radius: 100%;
  border: none;
}

.container .header .item .description-item {
  position: absolute;
  width: 141px;
  height: 34px;
  left: 300px;
  top: 136px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 34px;
  text-transform: uppercase;
  color: #313131;
}
.container .header .item .export {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 23px;
  gap: 10px;
  border: none;
  position: absolute;
  width: 90px;
  height: 28px;
  left: 1170px;
  top: 175px;
  color: #ffffff;
  cursor: pointer;

  /* primary */

  background: #57b98a;
  border-radius: 16px;
}

.container .header .item .item-header {
  position: absolute;
  width: 45px;
  height: 22px;
  left: 440px;
  top: 142px;
  background: #57b98a;
  border-radius: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
}
.container .header .item .item-header1 {
  position: absolute;
  width: 45px;
  height: 22px;
  left: 460px;
  top: 142px;
  background: #57b98a;
  border-radius: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f4f4;
}
.main-container {
  display: flex;
  padding-left: 280px;
  margin-top: 160px;
  position: absolute;
}
.conten {
  background-color: #ffffff;
  width: 234px;
  height: 130px;
  margin: 10px;
  border-radius: 12px;
}

.conten .icon {
  top: 15px;
  left: 20px;
  position: relative;
}
.conten .description {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 315px;
  top: 90px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #313131;
}
.conten .description1 {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 570px;
  top: 90px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #313131;
}
.conten .description2 {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 825px;
  top: 90px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #313131;
}
.conten .description3 {
  position: absolute;
  width: 166px;
  height: 32px;
  left: 1075px;
  top: 90px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #313131;
}
.conten .item {
  position: relative;
  width: 87px;
  height: 62px;
  left: 65px;
  top: -40px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 62px;
  text-align: center;
  color: #313131;
}
.container-chart {
  position: absolute;
  width: 737px;
  height: 286px;
  left: 300px;
  top: 343px;
  background: #ffffff;
  border-radius: 18px;
}
.container-chart .header-chart {
  position: absolute;
  width: 177px;
  height: 18px;
  top: 20px;
  left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}

.tabled {
  position: absolute;
  left: 270px;
  top: 180px;
}

#drop {
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 24px;
  cursor: pointer;
  left: 163px;
  top: 0px;
  background-color: transparent;
  border: 1px solid #313131;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.select-main {
  float: none;
  position: absolute;
  left: 270px;
  top: 175px;
}
.label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
  box-sizing: border-box;
  position: absolute;
  width: 94px;
  height: 24px;
  left: 70px;
  top: 0px;
  border: 1px solid #313131;
}

.conten-b {
  background-color: #ffffff;
  width: 222px;
  height: 261px;
  margin: 10px;
  border-radius: 12px;
}

.header .header_laporan {
  position: relative;
  width: 116px;
  height: 16px;
  left: 15px;
  top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #313131;
}
.header .decoration {
  position: relative;
  width: 177px;
  height: 0px;
  left: 15px;
  top: 25px;
  border: 1px solid #a5a5a5;
}
.conten-b .item {
  position: relative;
  width: 72px;
  height: 52px;
  left: 80px;
  top: 59px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #313131;
}
.conten-b .description {
  position: absolute;
  width: 174px;
  height: 36px;
  left: 312px;
  top: 80px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #313131;
}
.btn-item-conten {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 40px;
  gap: 10px;
  border: none;
  position: relative;
  width: 138px;
  height: 28px;
  left: 40px;
  top: 30px;
  background: #57b98a;
  border-radius: 16px;
}
.btn-item-conten a {
  color: #ffffff;
}
.conten-b .description1 {
  position: absolute;
  width: 174px;
  height: 36px;
  left: 555px;
  top: 80px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #313131;
}

.content-download {
  position: absolute;
  width: 230px;
  height: 286px;
  left: 1062px;
  top: 343px;
  background: #ffffff;
  border-radius: 18px;
}

.content-download .header .header-conten {
  position: absolute;
  width: 68px;
  height: 18px;
  left: 20px;
  top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}
.content-download .list-item .description {
  position: absolute;
  width: 93px;
  height: 18px;
  left: 20px;
  top: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}

.content-download .list-item .i {
  position: absolute;
  left: 200px;
  top: 62px;
}
.content-download .list-item1 .description {
  position: absolute;
  width: 93px;
  height: 18px;
  left: 20px;
  top: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}
.content-download .list-item1 .ic {
  position: absolute;
  left: 200px;
  top: 105px;
}
.content-download .list-item2 .description {
  position: absolute;
  width: 93px;
  height: 18px;
  left: 20px;
  top: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}
.content-download .list-item2 .i2 {
  position: absolute;
  left: 200px;
  top: 146px;
}
.content-download .list-item3 .description {
  position: absolute;
  width: 93px;
  height: 18px;
  left: 20px;
  top: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
}
.content-download .list-item3 .i3 {
  position: absolute;
  left: 200px;
  top: 186px;
}

.table_camaba {
  position: absolute;
  width: 480px;
  height: 318px;
  left: 300px;
  top: 643px;
  background: #ffffff;
  border-radius: 18px;
}
.table-info-keuangan {
  position: absolute;
  width: 480px;
  height: 318px;
  left: 810px;
  top: 643px;
  background: #ffffff;
  border-radius: 18px;
}

/* Modal*/

.container {
  width: 95%;
  padding: 5px;
  margin: auto;
}

.offmodal {
  display: none;
  transition: display 1s ease-in-out;
  background-color: brown;
}

.onmodal {
  display: block;
  transition: display 1s ease-in-out;
}

#modal::before {
  content: "";
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(131, 130, 130, 0.479);
  user-select: none;
}

.modal-container {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  position: absolute;
  z-index: 2;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  font-size: 0.8rem;
}

.modal-container header {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  width: 608px;
  height: 65px;
  background-color: #ffffff;
}

.modal-container h2 {
  margin: 15px;
  position: fixed;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #313131;
  left: 31px;
}

.modal-body {
  padding: 5px;
  overflow-y: scroll;
  width: 600px;
  height: 700px;
  background-color: #fff;
  scrollbar-width: none; /* Firefox */
}

.modal-body .biodata {
  width: 530px;
  height: auto;
  position: relative;
  left: 8%;
  padding-top: 0px;
}

.modal-body .biodata .header {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  top: 70px;
  color: #313131;
}
li {
  list-style-type: none;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #313131;
}
ul li {
  position: relative;
  left: -40px;
}

.modal-body::-webkit-scrollbar {
  display: none;
}
.berkas {
  display: flex;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: -10px;
  color: #313131;
}

.biodata .berkas .description {
  width: 120px;
  height: 130px;

  position: relative;
  top: 0px;
  left: 10px;
}

.biodata .berkas .description1 {
  width: 120px;
  height: 130px;

  position: relative;
  top: -130px;
  left: 140px;
}
.biodata .berkas .description2 {
  width: 120px;
  height: 130px;

  position: relative;
  top: -260px;
  left: 270px;
}
.biodata .berkas .description3 {
  width: 120px;
  height: 130px;

  position: relative;
  top: -390px;
  left: 400px;
}
.biodata .berkas .description4 {
  width: 120px;
  height: 130px;
  float: left;

  position: relative;
  top: 10px;
  left: -380px;
}
.biodata .berkas .description5 {
  width: 120px;
  height: 130px;
  float: left;
  position: relative;
  top: -150px;
  left: 140px;
}
.biodata .image img {
  width: 115px;
  height: 130px;
  border: none;
}

.close {
  text-align: center;
  width: 50px;
  background-color: transparent;
  position: relative;
  left: 0px;
  top: 15px;
  color: black;
}

.close > a {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400px;
  padding: 8px;
  color: black;
}

.close > a:hover {
  color: rgb(0, 0, 0);
}

.main_import_export .import button {
  padding: 6px 23px;
  gap: 10px;
  background-color: transparent;
  position: absolute;
  width: 80px;
  height: 24px;
  left: 1010px;
  top: 175px;
  border: 1px solid #313131;
  border-radius: 16px;
}
.main_import_export .export button {
  padding: 6px 23px;
  gap: 10px;
  background-color: transparent;
  position: absolute;
  width: 80px;
  height: 24px;
  left: 1095px;
  top: 175px;
  border: 1px solid #313131;
  border-radius: 16px;
}
.main_import_export .add button {
  padding: 6px 23px;
  gap: 10px;
  background-color: transparent;
  position: absolute;
  width: 80px;
  height: 24px;
  left: 1180px;
  top: 175px;
  border: 1px solid #313131;
  border-radius: 16px;
}

.main_import_export .description {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  position: relative;
  text-align: center;
  left: 0px;
  top: -5px;
  color: #313131;
}
.main_import_export .description1 {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  left: 14px;
  top: 3px;
  color: #313131;
}

.quation {
  position: absolute;
  width: 980px;
  height: 650px;
  background-color: #ffffff;
  left: 22%;
  top: 30%;
  border-radius: 18px;
  padding-bottom: 20px;
}

.quation .input span {
  position: relative;
  width: 84px;
  height: 18px;
  left: 81px;
  top: 30px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
  padding-bottom: 10px;
}

.quation .input .isi {
  position: relative;
  width: 805px;
  height: 80px;
  left: 0px;
  top: 91px;
  border: none;
  background: #f4f4f4;
  border-radius: 10px;
}

.quation .input1 span {
  position: relative;
  width: 84px;
  height: 18px;
  left: 81px;
  top: 100px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.quation .input1 .isi1 {
  position: relative;
  width: 805px;
  height: 30px;
  left: -40px;
  top: 135px;
  background: #f4f4f4;
  border-radius: 10px;
  border: none;
}
.quation .input2 .isi1 {
  position: relative;
  width: 805px;
  height: 30px;
  left: -40px;
  top: 175px;
  background: #f4f4f4;
  border-radius: 10px;
  border: none;
}
.quation .input3 .isi1 {
  position: relative;
  width: 805px;
  height: 30px;
  left: -40px;
  top: 215px;
  background: #f4f4f4;
  border-radius: 10px;
  border: none;
}
.quation .input4 .isi1 {
  position: relative;
  width: 805px;
  height: 30px;
  left: -40px;
  top: 255px;
  background: #f4f4f4;
  font-family: "IBM Plex Mono";
  border-radius: 10px;
  border: none;
}
.quation .input2 span {
  position: relative;
  width: 84px;
  height: 18px;
  left: 81px;
  top: 140px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.quation .input3 span {
  position: relative;
  width: 84px;
  height: 18px;
  left: 81px;
  top: 180px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.quation .input4 span {
  position: relative;
  width: 84px;
  height: 18px;
  left: 81px;
  top: 220px;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

input {
  font-family: "IBM Plex Mono";
}

.quation .submit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 23px;
  gap: 10px;
  position: relative;
  float: right;
  width: 90px;
  height: 28px;
  left: -100px;
  top: 280px;
  background: #57b98a;
  border-radius: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.quation .Batal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 23px;
  gap: 10px;
  position: relative;
  float: right;
  width: 90px;
  height: 28px;
  left: -110px;
  top: 280px;
  background: transparent;
  border-radius: 16px;
  color: #000000;
  border: 1px solid #313131;
  cursor: pointer;
}

.card .text-center {
  position: relative;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #313131;
  left: 20px;
}

.chart canvas {
  position: relative;
  width: 700px;
  left: 20px;
  top: 30px;
}

.card {
  width: 700px;
}
